<!DOCTYPE html>
<html>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?banner=off"></script>
    <script src="/static/js/buttons.js?banner=off"></script>
	<img src="/static/images/mobile/rzdonbg.png" class="mobileRZDbg" alt="Rzd logo on background">
	<img src="/static/images/logotype.png" class="Logo" alt="Rzd logo on top">
	<link rel="stylesheet" href="/static/css/mobile-style.css">
	<link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>
	<head>
		<title>MOBILE</title>
	</head>
	<body>
        <a href=# id=leisurebtn><button class="leisure">ДОСУГ</button></a>
        <a href=# id=chargebtn><button class="charge">ЗАРЯДКА</button></a>
        <a href=# id=baggagebtn><button class="baggage"><p class="baggagetext">БАГАЖ</p></button></a>
        <a href=# id=navigationbtn><button class="navigation">НАВИГАЦИЯ</button></a>
	</body>
</html>